.header {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 0.65rem;
  font-weight: 300;
  margin: 1rem auto 2rem;
  text-align: center;
  width: 14.5rem;
}

.title {
  margin: 0;
  padding: 0.65rem 0;
}
