.operator-container {
  display: flex;
  margin: 0.75rem 0;
  padding: 0;
  width: 85%;
}

.operator {
  background-color: cyan;
  border: 0;
  border-radius: 5px;
  flex-grow: 1;
  font-size: 1.5rem;
  margin: 0 0.05rem;
}
